################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomAppDigitalProducts/.vs/CustomAppDigitalProducts/FileContentIndex
/CustomAppDigitalProducts/.vs/CustomAppDigitalProducts/v17/.futdcache.v2
